<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link href=“https://fonts.googleapis.com/css?family=Hepta+Slab%7CMerriweather&display=swap” rel=“stylesheet”>
    <title>Book Collection</title>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <h4>Saved Books</h4>
      <p><%= books.length %> books in the Collection</p>
      <ul id="book-list">
        <% books.forEach(book => { %>
          <li class="book-items" data-book-id="<%= book.id %>">
            <%- include('books/details', {book: book}) %>
            <p class="detail-button"><a href="/books/<%= book.id %>">View Details</a></p>
          </li>
        <% }) %>
      </ul>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>
